$primary-color: #051C33;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 4rem;
    color: $primary-color;
  }
}
@media  (max-width: 320px) {
.container{
  h1{
    font-size: 2rem;
  }
}
}