.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 5rem;
  margin: auto;
}


.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-top: 5rem;
  margin: auto;
}
.noImages{
  margin-top: 10em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
